body{
    display: flex;
    width: fit-content;
}

.panel{
    border: 1px solid black;
    padding: 20px;
    height: 100vh;
}
/* ЛЕВАЯ ПАНЕЛЬ */
.panel.left{
    background-color: rgb(196, 196, 196);
}

/* ПРАВАЯ ПАНЕЛЬ */
.panel.right{
    background-color: rgb(255, 255, 255);
    width: 50vw;
    .title-box{
        margin-bottom: 10px;
    }
}

.info-block
{

    margin-top: 20px;
    h1{
        font-size: 1.5rem;
    }
    p{
        margin: 0 0;
    }
    span{
        margin-top: 10px;
        color: brown;
    }
}
.info-block.type-b
{
    overflow: visible;
    text-align: center;
    font-size: larger;
}

.title-box{
    border: 2px solid rgba(0,0,0,0.5);
    padding: 4px 16px;
}

/* ГОРИЗОНТАЛЬНЫЕ ЛИНИИ */
.hor-line
{
    display: block;
    margin: 4% 0;
    border-bottom: 3px solid black;
} 
.hor-line.brown
{
    border-bottom: 6px solid rgb(138, 110, 79);
    width: 30%;
}

